.btn {
  padding: 10px;
  cursor: pointer;
  border-radius: var(--border-radius);
  border: none;
  font-weight: 600;
  font-size: 1rem;
  box-shadow: var(--box-shadow);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  transition: all 0.2s ease-in-out;
  &:active {
    transform: scale(0.98);
    box-shadow: none;
  }
}
